*.fits filter=lfs diff=lfs merge=lfs -text
vicyg1_irs.fits filter=lfs diff=lfs merge=lfs -text
hd029647_irs.fits filter=lfs diff=lfs merge=lfs -text
hd149038_irs.fits filter=lfs diff=lfs merge=lfs -text
hd034816_irs.fits filter=lfs diff=lfs merge=lfs -text
hd034921_irs.fits filter=lfs diff=lfs merge=lfs -text
hd147701_irs.fits filter=lfs diff=lfs merge=lfs -text
hd165024_irs.fits filter=lfs diff=lfs merge=lfs -text
hd188209_irs.fits filter=lfs diff=lfs merge=lfs -text
hd283809_irs.fits filter=lfs diff=lfs merge=lfs -text
bd+631964_irs.fits filter=lfs diff=lfs merge=lfs -text
hd051283_irs.fits filter=lfs diff=lfs merge=lfs -text
hd147889_irs.fits filter=lfs diff=lfs merge=lfs -text
hd147933_irs.fits filter=lfs diff=lfs merge=lfs -text
hd166734_irs.fits filter=lfs diff=lfs merge=lfs -text
hd204172_irs.fits filter=lfs diff=lfs merge=lfs -text
hd096042_irs.fits filter=lfs diff=lfs merge=lfs -text
hd149404_irs.fits filter=lfs diff=lfs merge=lfs -text
hd169454_irs.fits filter=lfs diff=lfs merge=lfs -text
hd195986_irs.fits filter=lfs diff=lfs merge=lfs -text
hd204827_irs.fits filter=lfs diff=lfs merge=lfs -text
hd206773_irs.fits filter=lfs diff=lfs merge=lfs -text
hd214680_irs.fits filter=lfs diff=lfs merge=lfs -text
hd064760_irs.fits filter=lfs diff=lfs merge=lfs -text
hd074273_irs.fits filter=lfs diff=lfs merge=lfs -text
hd229059_irs.fits filter=lfs diff=lfs merge=lfs -text
vicyg2_irs.fits filter=lfs diff=lfs merge=lfs -text
vicyg5_irs.fits filter=lfs diff=lfs merge=lfs -text
hd014422_irs.fits filter=lfs diff=lfs merge=lfs -text
hd064802_irs.fits filter=lfs diff=lfs merge=lfs -text
hd152408_irs.fits filter=lfs diff=lfs merge=lfs -text
hd229238_irs.fits filter=lfs diff=lfs merge=lfs -text
ngc2024_1_irs.fits filter=lfs diff=lfs merge=lfs -text
hd192660_irs.fits filter=lfs diff=lfs merge=lfs -text
hd031726_irs.fits filter=lfs diff=lfs merge=lfs -text
hd047839_irs.fits filter=lfs diff=lfs merge=lfs -text
hd112272_irs.fits filter=lfs diff=lfs merge=lfs -text
hd281159_irs.fits filter=lfs diff=lfs merge=lfs -text
vicyg8a_irs.fits filter=lfs diff=lfs merge=lfs -text
bd+63d1964_irs.fits filter=lfs diff=lfs merge=lfs -text
hd014956_irs.fits filter=lfs diff=lfs merge=lfs -text
hd029309_irs.fits filter=lfs diff=lfs merge=lfs -text
hd036512_irs.fits filter=lfs diff=lfs merge=lfs -text
hd197702_irs.fits filter=lfs diff=lfs merge=lfs -text
